spring:
  application:
     name: ai-service

server:
  port: 8083

  data:
    mongodb:
      uri: mongodb://localhost:27017/fitnesssrecommendation
      database: fitnesssrecommendation
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking